@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rampart+One&family=Smokum&display=swap");
/* Cambios en elementos/etiquetas HTML */
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Oxygen+Mono&display=swap");
.tituloPrincipal {
  padding: 0px 3% 0px 3%;
  background-color: rgb(255, 200, 194);
  font-family: "Nabla", cursive;
  font-palette: --myPalette;
  font-size: 45px;
  margin: 0px;
}

.nav {
  padding: 5px 3%;
  background-color: rgb(37, 105, 144);
}
.nav a {
  color: white;
  padding: 0px 0%;
  font-family: "Oxygen Mono", monospace;
  font-size: 20px;
  text-decoration: none;
  word-spacing: 0px;
  letter-spacing: 1px;
  gap: 10px;
}
.nav a:hover {
  /*background-color: rgb(68, 149, 196);*/
  font-weight: 600;
  color: rgb(56, 56, 56);
  border-radius: 5px;
  font-weight: bold;
}

.bkgn-sub {
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 18vh;
  opacity: 1;
  object-position: center 50%;
}

.bkgn-sub-principal {
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 22vh;
  opacity: 1;
  object-position: 25% 55%;
}

.card {
  width: 280px;
  margin: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
  border: 0.3px solid rgb(188, 188, 188);
  box-shadow: 2px 2px 5px 2px #d8d8d8;
}

.descrip {
  font-family: "IBM Plex Sans";
  text-align: justify;
  font-size: 12px;
  margin: 3px;
  padding: 4px;
  overflow: clip;
  background-color: rgb(253, 253, 253);
  height: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0px 0px;
}

.tituloCard {
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 50px;
  padding-left: 3%;
  border-radius: 0px 0px 5px 5px;
}

.tituloCard:hover {
  background-color: #F8F8F8;
}

.tituloText {
  margin: 0px;
  text-align: start;
  font-size: 14px;
  color: black;
  /*font-weight: bold;*/
  font-family: "Oxygen Mono", monospace;
  margin-left: 5px;
}

.descrip-bk1 {
  background-image: url("https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.descrip-bk2 {
  background-image: url("https://images.unsplash.com/photo-1523437113738-bbd3cc89fb19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
}

.descrip-bk3 {
  background-image: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
}

.descrip-bk4 {
  background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80");
}

.descrip-bk5 {
  background-image: url("https://images.unsplash.com/photo-1627398242454-45a1465c2479?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
}

.descrip-bk6 {
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
}

.tarjetero {
  /*background-color: #ffbea6;*/
  padding: 5px;
  border-radius: 5px;
  font-family: "Oxygen Mono", monospace;
}

.contenBody {
  display: grid;
  grid-template-columns: 1fr;
}

.colFiltro {
  background-color: #FBFBF7;
  display: flex;
  flex-direction: column;
}
.colFiltro li::marker {
  font-size: 23px;
  content: "| ";
  margin-right: 5px;
}

.descripcion {
  /*background-color: #ffbea6;*/
  margin: 1% 1%;
  padding: 5px;
  font-family: "Oxygen Mono", monospace;
}

.tituloConten {
  /*background-color: aquamarine;*/
  min-height: 35px;
}

.contenCards {
  display: grid;
  min-height: 35px;
  /*background-color:cadetblue;*/
  padding: 5px;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.vistaConten {
  /*background-color:rgb(97, 61, 255);*/
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2px;
  font-size: 13px;
  font-family: "Oxygen Mono", monospace;
  padding: 5px 5px;
}

.tituloTextConten {
  /*background-color:rgb(255, 61, 249);*/
  font-size: 20px;
  font-family: "Oxygen Mono", monospace;
  font-weight: bold;
  padding: 10px 5px;
}

.tituloTextFiltro {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: bold;
  display: flex;
}

.filter-btn {
  font-size: 14px;
  text-align: start;
  color: #4c4c4c;
  font-family: "Oxygen Mono", monospace;
  border: none;
  border-radius: 5px;
  margin: 2px 0px 2px 18px;
  padding: 3px 10px;
  cursor: pointer;
  background-size: 100px;
  background-color: #dedbdb;
}

.filter-btn:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
  background-color: #ffe3c7;
}

@media (min-width: 375px) {
  .tituloTextFiltro {
    display: flex;
  }
  .contenBody {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .contenBody {
    grid-template-columns: 150px auto;
  }
  .tituloTextFiltro {
    display: list-item;
  }
}
@media (min-width: 1024px) {
  .contenBody {
    grid-template-columns: 180px auto;
  }
  .tituloTextFiltro {
    display: list-item;
  }
}
.conten-consept {
  margin: 5vh 15vw;
  text-align: justify;
  font-family: "Oxygen Mono", monospace;
}

.bkgn-sub-peges {
  display: block;
  object-fit: cover;
  border-radius: 0px;
  width: 100%;
  height: 18vh;
  opacity: 1;
}
.bkgn-sub-peges .bkgn-sub-peges-1 {
  object-position: 25% 55%;
}

.migas {
  position: absolute;
  display: flex;
  align-items: center;
  color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  font-weight: bold;
  gap: 8px;
  text-decoration: none;
  left: 3%;
}

.migas:hover {
  background-color: #d8d8d8;
}

ul {
  display: flex;
  margin: 10px;
  padding: 0px;
}
ul li {
  list-style: none;
}
ul li a {
  width: 35px;
  height: 35px;
  background-color: #d0d0d0;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0px solid #858585;
  z-index: 1;
}
ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
ul li a i {
  margin-top: 8px;
}
ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
ul li a:hover:before {
  top: 0;
}
ul li:nth-child(1) a:before {
  background: #3b5999;
}
ul li:nth-child(2) a:before {
  background: #55acee;
}
ul li:nth-child(3) a:before {
  background: #0077b5;
}

.contenedorCajitas {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}

.cuadrito {
  padding: 25px;
  margin: 2%;
  box-shadow: 2px 2px 5px 2px #b9b9b9;
}

.sty-1 {
  background-color: #003777;
  color: #0077ff;
  font-family: "Press Start 2P";
  border-radius: 10px;
}

.sty-2 {
  background-color: #00bf92;
  color: #000000;
  font-family: "Rampart One";
  border-radius: 5px;
}

.sty-3 {
  background-color: #b900e3;
  color: #000000;
  font-family: "Smokum";
  border-radius: 15px;
}

.conten-cards {
  display: grid;
  min-height: 35px;
  /*background-color:cadetblue;*/
  padding: 5px;
  width: auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.team-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  margin: 10px;
  border-radius: 7px;
  background-color: #e4e4e4;
  padding: 10px;
  border: solid 2px #dedddd;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.team-card p {
  margin: 5px;
  padding: 0%;
}
.team-card ul {
  display: flex;
  margin: 10px;
  padding: 0px;
}
.team-card ul li {
  list-style: none;
}
.team-card ul li a {
  width: 35px;
  height: 35px;
  background-color: #d0d0d0;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0px solid #858585;
  z-index: 1;
}
.team-card ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.team-card ul li a i {
  margin-top: 8px;
}
.team-card ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
.team-card ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.team-card ul li a:hover:before {
  top: 0;
}
.team-card ul li:nth-child(1) a:before {
  background: #3b5999;
}
.team-card ul li:nth-child(2) a:before {
  background: #55acee;
}
.team-card ul li:nth-child(3) a:before {
  background: #0077b5;
}

.team-card .card-img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  object-position: 0% 90%;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 60%);
}

.team-card .profile-img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 999;
  border: 7px solid #e4e4e4;
}

.name-profile {
  font-size: 12px;
  font-weight: bold;
}

.email {
  font-size: 10px;
  font-style: italic;
  color: rgb(48, 48, 48);
}

.about {
  font-size: 12px;
}

footer {
  background-color: #256990;
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 10px;
  color: azure;
  font-family: "Oxygen Mono", monospace;
  font-weight: bold;
  background-color: #83b6d3;
  padding: 5px 20px;
  border-radius: 5px;
}
footer .fa-heart {
  color: rgb(255, 200, 194);
}
footer ul {
  display: flex;
  position: absolute;
  margin: 5px 15px;
  right: 20px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  width: 32px;
  height: 32px;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  margin: 0px 0px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  /*border: 0px solid #858585;*/
  z-index: 1;
}
footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
footer ul li a:hover .icon {
  color: #ffffff;
  transform: rotateY(360deg);
}
footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
footer ul li a:hover:before {
  top: 0;
}
footer ul #face a:before {
  background: #3b5999;
}
footer ul #twit a:before {
  background: #55acee;
}
footer ul #inkedin a:before {
  background: #0077b5;
}
footer ul #goog a:before {
  background: #dd4b39;
}

.video-carousel {
  background-color: #fadebc;
  padding: 20px;
  width: 70%;
  margin: 0px auto;
  border-radius: 10px;
}
.video-carousel .contain {
  margin: 0 auto;
  overflow: hidden;
}
.video-carousel .videos-container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
}
.video-carousel .videos-container .fa-solid {
  cursor: pointer;
  font-size: 25px;
}
.video-carousel .videos-container .fa-solid:nth-of-type(2) {
  justify-self: end;
}
.video-carousel .videos-container .video_wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.video-carousel .videos-container .video_wrapper--show {
  opacity: 1;
  pointer-events: unset;
}

body {
  background-color: #FBFBF7;
  margin: 0%;
  font-family: "Oxygen Mono", monospace;
}
body a {
  text-decoration: none;
  text-transform: none;
}

.saludo {
  font-size: 40px;
  margin: 10px 5px;
}

.saludo:hover {
  animation: saludando 1s;
}

@keyframes saludando {
  10% {
    font-size: 45px;
  }
  25% {
    rotate: 15deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  35% {
    rotate: -10deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  45% {
    rotate: 10deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  55% {
    rotate: -10deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  65% {
    rotate: 10deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  75% {
    rotate: -10deg;
    font-size: 45px;
    transform: translateY(-10px);
  }
  85% {
    rotate: 10deg;
  }
}
.tituloSaludo {
  display: flex;
}

.contenedor-principal {
  margin: 1% 1%;
}

@media (min-width: 576px) {
  .contenedor-principal {
    margin: 1% 1%;
  }
}
@media (min-width: 768px) {
  .contenedor-principal {
    margin: 1% 5%;
  }
}
@media (min-width: 1024px) {
  .contenedor-principal {
    margin: 1% 10%;
  }
}
/*Importamos fuentes de Google*/
@font-palette-values --myPalette {
  font-family: "Nabla";
  base-palette: 3;
  override-colors: 6 #fff;
}

/*# sourceMappingURL=styles.css.map */
