
.conten-consept{
    margin: 5vh 15vw;
    text-align: justify;
    font-family: 'Oxygen Mono', monospace;
}

.bkgn-sub-peges{
    display: block; 
    object-fit: cover; 
    border-radius: 0px; 
    width: 100%; 
    height: 18vh; 
    opacity: 1; 
    .bkgn-sub-peges-1{object-position: 25% 55%;}
}

.migas{
    position: absolute;
    display: flex;
    align-items: center;
    color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    font-weight: bold;
    gap: 8px;
    text-decoration: none;
    left: 3% ;
}
.migas:hover{
    background-color: #d8d8d8;
}



