$fuente-principal:'Oxygen Mono', monospace;




.tarjetero{
    /*background-color: #ffbea6;*/
    padding: 5px;
    border-radius: 5px;
    font-family: $fuente-principal;
}

.contenBody{
    display: grid;
    grid-template-columns: 1fr;
}
.colFiltro{
    background-color: #FBFBF7;
    display: flex;
    flex-direction: column;
    li::marker{
        font-size: 23px;
        content: "| ";
        margin-right: 5px;
    }
}
.descripcion{
    /*background-color: #ffbea6;*/
    margin: 1% 1%;
    padding: 5px;
    font-family: $fuente-principal;
}

.tituloConten{
    /*background-color: aquamarine;*/
    min-height: 35px;
}
.contenCards{
    display: grid;
    min-height: 35px;
    /*background-color:cadetblue;*/
    padding: 5px;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.vistaConten{
    /*background-color:rgb(97, 61, 255);*/
    display: flex;
    align-items: center; 
    flex-shrink: 0;
    gap: 2px;
    font-size: 13px;
    font-family: $fuente-principal;
    padding: 5px 5px;
}
.tituloTextConten{
    /*background-color:rgb(255, 61, 249);*/
    font-size: 20px;
    font-family: $fuente-principal;
    font-weight: bold;
    padding: 10px 5px;}
.tituloTextFiltro{
    font-size: 16px;
    padding: 10px 0px;
    font-weight: bold;
    display:flex;
}

.filter-btn{
    font-size: 14px;
    text-align: start;
    color: #4c4c4c;
    font-family: 'Oxygen Mono', monospace;
    border: none;
    border-radius: 5px;
    margin: 2px 0px 2px 18px;
    padding: 3px 10px;
    cursor: pointer;
    background-size: 100px;
    background-color:#dedbdb;
}
.filter-btn:hover{
    font-weight: bold;
}
.active{
    font-weight: bold;
    background-color:#ffe3c7;

}

@media(min-width: 375px){
    .tituloTextFiltro{display: flex;}
    .contenBody{
        grid-template-columns:  1fr;
    }
}
@media(min-width: 768px){
    .contenBody{grid-template-columns: 150px auto;}
    .tituloTextFiltro{display: list-item;}
}
@media(min-width: 1024px){
    .contenBody{grid-template-columns: 180px auto;}
    .tituloTextFiltro{display:list-item;}
}